<h1>Beers with the babes </h1>


<h1>All the breweries</h1>
<div style='width: 800px;'>
  <div id="map" style='width: 800px; height: 400px;'></div>
</div>

<script type="text/javascript">
handler = Gmaps.build('Google');
handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
  markers = handler.addMarkers(<%=raw @brewery_default.to_json %>);

  handler.bounds.extendWith(markers);
  handler.fitMapToBounds();
});
</script>
